* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#1B7C20,#23635A,#1D3A6B);
    padding :20px
}



.container {
    background-color:#456F49;
    border-radius: 70px;
    border: 3px solid;
    border-color: #2925fd;
    box-shadow:0 10px 30px rgba(9, 9, 28, 0.2);
    padding: 40px;
    text-align: center;
    max-width: 500px;
    width: 400px;
    height: 600px;
    overflow: hidden;
}



.container .head {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}



 .pr {
    font-size: 20px;
 }



.count-display {
    color: rgba(255, 255, 255, 1);
    font-size: 110px;
    padding-right: 4px;
    font-family: Georgia,'Times New Roman', Times, serif;
    margin-bottom: 12px;
}



.add-count {
    
    padding: 30px 30px;
    width:170px;
    border-radius: 50%;
    background-color: #4B864E;
    border: 2px solid;
    font-size: 100px;
    color: white;
    cursor: pointer;
    /*border-color: #190af5;*/
}



.rst {
    display: flex;
    align-items: top;
    top: 3px;
    padding: 20px 8px;
    font-size: 15px;
    border-radius: 60px;
    cursor: pointer;
    color: #fff;
    background-color: #e90f0f;
    border: 2px solid;
    /*border: none; */
}



.btn {
}



.history {
    display: flex;
    top: 0px;
    color: #C3C8CE;
    background:#EEFDFF ;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: left;
    font-size: 13px;
    border-left: 6px solid #0ca826;
}



.demo-info h4 {
    margin-bottom: 8px;
    color: #333;
}