* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#3cee45,#1bebcf,#2575fc);
    padding :20px
}



.container {
    background-color:#97C19B;
    border-radius: 70px;
    border: 3px solid;
    border-color: #2925fd;
    box-shadow:0 10px 30px #09091B33;
    padding: 40px;
    text-align: center;
    max-width: 500px;
    width: 400px;
    height: 640px;
    overflow: hidden;
}



.container .head {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}



 .pr {
    font-size: 20px;
 }



.count-display {
    color: rgba(255, 255, 255, 1);
    font-size: 110px;
    padding-right: 4px;
    font-family: Georgia,'Times New Roman', Times, serif;
    margin-bottom: 12px;
}



.add-count {
    
    padding: 30px 30px;
    width:170px;
    border-radius: 50%;
    background-color: #3cee45;
    border: none;
    font-size: 100px;
    color: white;
    cursor: pointer;
    /*border-color: #190af5;*/
}



.rst {
    display: flex;
    align-items: top;
    top: 3px;
    padding: 20px 8px;
    font-size: 15px;
    border-radius: 60px;
    cursor: pointer;
    color: #fff;
    background-color: #e90f0f;
    /*border: 3px solid;*/
    border: none;
}







.history {
    height: 75px;
    max-height: 100px;
    display: block;
    color: #C3C8CE;
    background:#EEFDFF;
    padding:4.3px 10px;
    border-radius: 10px;
    text-align: left;
    font-size: 15px;
    overflow: hidden;
    border-left: 6px solid #0ca826;
}



.his{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    
}


.foot{
    display:inline-table;
    font-size: 12px;
    color: #1c7714;
}
